.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}

.check-out-btn {
    margin: 25px 0px;
}
.check-out-btn button {
    height: 50px;
    width: 240px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: white;
    border: 2px solid #12101094;
    border-radius: 10px;
    cursor: pointer;
}
.check-out-btn button:hover {
    background: #464242d1;
    color: white;
    border: none;
}